/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

* {
    color: rgba(235, 235, 235, 0.89);
    cursor: url(../public/cursor.svg) 18 18, default;
    scroll-behavior: smooth;
}